@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@700&family=Dosis&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    padding: 1rem;
    background-color: #092244;
    color: white;
    justify-items: center;
    align-items: center;
    display: flex;
}

.buttonLogo {
    padding: 0.2rem;
    display: block;
    color: white;
    width: 5rem;
    text-align: center;
}

button {
    background-color: #092244;
    border: none;
}

.home {
    font-size: 1rem;
    color: #ffff;
    text-decoration: none;
    font-weight: bold;
    display: block;
}

.Logo {
    height: 3.5rem;
    width: 3.5rem;
}

.todomenu {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 96rem;
}

.menu1,
.menu2,
.menu3,
.menu4 {
    font-size: 1.5rem;
    text-decoration: none;
    color: #ffff;
    font-weight: bold;
    text-align: center;
    padding-inline: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu1:hover {
    text-decoration: underline;
}

.menu2:hover {
    text-decoration: underline;
}

.menu3:hover {
    text-decoration: underline;
}

.menu4:hover {
    text-decoration: underline;
}

.main {
    background: #2F4B72;
}

.grupodecima,
.grupodebaixo {
    padding: 3rem;
    padding-left: 6rem;
    display: flex;
}

.grupo1,
.grupo2,
.grupo3 {
    padding: 1rem;
    padding-inline: 6rem;
    height: 20rem;
    display: block;
    text-align: center;
}

.grupo4,
.grupo5,
.grupo6 {
    padding: 1rem;
    padding-inline: 10rem;
    display: block;
    text-align: center;
    height: 20rem;
}

.usinainfo,
.comofazer,
.faculdade,
.canais {
    display: block;
    padding: 1rem
}

.comofazer {
    width: 30rem;
}

.faculdade {
    height: 10rem;
}

.canais {
    border-radius: 50%;
}

.links {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    padding: 1rem;
    font-family: 'Dosis', sans-serif;
}

@media (max-width: 400px) {
    .header {
        padding: 1rem;
    }
    .buttonLogo {
        padding-right: 2.5rem;
    }
    .buttonLogin {
        padding-left: 2.5rem;
    }
    .Logo {
        height: 3rem;
        width: 3rem;
    }
    .home {
        font-size: 1rem;
    }
    .todomenu {
        width: 13rem;
        height: 8rem;
        display: block;
    }
    .menu1,
    .menu2,
    .menu3,
    .menu4 {
        align-items: center;
        justify-content: center;
        display: flex;
        font-size: 1rem;
        padding-inline: 0.6rem;
        padding-block: 0.4rem;
    }
    .login {
        height: 2rem;
        width: 2rem;
    }
    .grupodecima,
    .grupodebaixo {
        display: block;
        padding-left: 1rem;
    }
    .grupo1,
    .grupo2,
    .grupo3 {
        padding-inline: 0.5rem;
        padding-bottom: 0.5rem;
        width: 22rem;
        text-align: center;
    }
    .grupo4,
    .grupo5,
    .grupo6 {
        padding-inline: 4.5rem;
        padding-bottom: 0.5rem;
        width: 22rem;
    }
    .comofazer {
        height: 9rem;
        width: 21rem;
    }
    .links {
        padding: 0.5rem;
    }
}